@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;900&display=swap');
body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
}
#img_top {
    width: 100%;
    border-radius: 15px 15px 0 0;
}
#content {
    border-radius: 15px;
    background-color: white;
    width: 350px;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    position: absolute;
    top: 10%;
}
#Order {
    padding: 10px;
    text-align: center;
    margin:auto;
}
#plan {
    background-color:hsl(225, 100%, 98%);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
}
#annual_plan {
    display: flex;
    flex-direction: column;
    text-align: left;
}
#payment {
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: small;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 15px;
    margin: 15px;
}
p {
    color: rgb(109, 105, 105);
    font-size: 16px;
}
h4 {
    margin: 10px;
}